@page "/{ShortcutGuid}"

<PageTitle>You are being redirected - SafeLinks.sk</PageTitle>

<main class="mx-2 text-center">
    @if (ShowLoading)
    {
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
</main>